<div id="container"></div>
<div class="menu-container">
  <span class="logout">
    <% if user_signed_in? %>
      <%= button_to 'Logout', destroy_user_session_path, method: :delete, class: "logout-btn" %>
    <% end %>
  </span>
  <ul class="menu">
    <li><%= link_to "Recipes", root_path, class: "menu-btn" %></li>
    <li><%= link_to "Public Recipes", public_recipes_path, class: "menu-btn" %></li>
    <li><%= link_to "Foods", class: "menu-btn" %></li>
    <li><a class="menu-btn">About</a></li>
  </ul>
</div>
