* {
  font-family: 'Outfit', sans-serif;
  padding: 0;
  margin: 0;
}

h1 {
  padding: 0;
  margin-top: 2rem;
  margin-left: 8%;
  margin-right: 8%;
  text-align: center;
  margin-bottom: 15px;
}

p {
  padding: 5px;
}

.section1 {
  margin-left: 8%;
  margin-right: 8%;
  width: auto;
}

.recipe-foods-container {
  margin-left: 8%;
  margin-right: 8%;
  width: auto;
}

th {
  font-size: 1.3rem;
}

tr {
  width: 100%;
}

td {
  vertical-align: top;
  padding: 0;
}

.up-table {
  width: 100%;
  border: none;
  margin-bottom: 10px;
}

.f-size {
  font-size: 1.4rem;
}

.form-group {
  text-align: right;
  padding-right: 15px;
  padding-top: 15px;
  font-size: 1.4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.centered {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.span {
  display: flex;
  justify-content: space-around;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-bottom: 12px;
}

.public {
  padding-top: 15px;
}

.up-buttons {
  display: flex;
  flex-direction: row;
}

.sep {
  margin-top: 15px;
  margin-bottom: 15px;
}

.down-table {
  margin-bottom: 1.5rem;
}

.down-table td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 0;
}

.col1,
.col2,
.col3 {
  text-align: center;
  vertical-align: middle;
}

.col4 {
  vertical-align: middle;
  padding-left: 20px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 3px;
  display: flex;
  flex-direction: row;
  border: 1px solid black;
}

.name,
.quantity,
.unit-value {
  font-size: 1.3rem;
}

.horizontal {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.middle-btn {
  margin-left: 8%;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 1.2rem;
  vertical-align: middle;
  text-align: center;
  color: black;
  background-color: lightgrey;
  border: solid 2px black;
  border-radius: 4px;
  box-shadow: 3px 3px black;
  text-decoration: none;
  padding: 4px 6px;
}

.middle-btn:hover {
  background-color: grey;
  box-shadow: 1px 1px black;
}

.link1 {
  font-size: 1.3rem;
  margin-left: 20px;
  text-decoration: none;
}

.link1:hover {
  color: darkblue;
  font-weight: 600;
}

.link2 {
  font-size: 1.3rem;
  margin-left: 30px;
  padding-top: 5px;
  border: none;
  color: mediumblue;
  background-color: transparent;
}

.link2:hover {
  color: darkblue;
  font-weight: 600;
}

.link3 {
  font-size: 1.3rem;
  margin-left: 20px;
  text-decoration: none;
  cursor: not-allowed;
  opacity: 0.5;
  pointer-events: none;
}

.odd {
  background-color: white;
}

.even {
  background-color: lightgray;
}
