<%= render partial: 'shared/menu' %>
<div class="about-container">
  <h1 class="neading-about">About the Italian Recipes App</h1>
  <p class="rem13">Authors:</p>
  <P class="rem13">- Juan Carlos Muñoz</P>
  <p class="rem13">- Mohammed Jamal</p>
  <div style="margin-top: 30px;">
    <p class="rem13">The application includes a signup and login page to include proper user authentication. It permits a user to create recipes, create a list of foods or ingredients for different recipes, and add ingredients to each of his/her own recipes. The app includes options to add or delete all these elements. It also includes the use of different roles with authorization rules.</p><br />
    <p class="rem13">This Ruby on Rails application is part of the projects that students need to develop while taking the Rails - Module 5 of the Microverse Full-Stack Developer program.</p><br />
    <p class="rem13">February, 2024</p><br />
  </div>
</div>
