/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  font-family: 'Outfit', sans-serif;
  padding: 0;
  margin: 0;
}

.app-body {
  background-image: url(pattern_doodle2.png);
  background-size: cover;
}

.notice-container {
  margin-left: 8%;
  margin-right: 8%;
  width: auto;
  max-height: 50px;
}

.flash-messages {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 1000;
}

.alert,
.notice {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.menu-btn {
  background-color: lightgrey;
  font-size: 1.2rem;
  border: 2px solid darkslategray;
  border-radius: 4px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  box-shadow: 3px 3px black;
  text-decoration: none;
}

.menu-btn:hover {
  background-color: grey;
  box-shadow: 1px 1px black;
  text-decoration: none;
}

.menu-btn:active {
  color: blue;
  background-color: darkgray;
  box-shadow: 1px 1px black;
  text-decoration: none;
}
